<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t_act">
    <select id="selectByActNo" resultType="com.dh.bank.pojo.Account">
        select id, act_no as actNo, balance from t_act where act_no = #{actNo}
    </select>

    <update id="updateByActNo">
        update t_act set balance = #{balance} where act_no = #{actNo}
    </update>
</mapper>