<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.mybatis.mapper.StudentMapper">

    <select id="selectAllRetBigMap" resultType="map">
        select * from t_student
    </select>

    <select id="selectAllRetMpa" resultType="map">
        select * from t_student
    </select>

    <select id="selectByIdRetMap" resultType="map">
        select * from t_student where id = #{id}
    </select>

    <select id="selectById" resultType="Student" parameterType="long">
        select * from t_student where id = #{id}
    </select>

    <select id="selectByNameAndSex" resultType="Student">
        select * from t_student where name = #{name} and sex = #{sex}
    </select>

</mapper>