<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.mybatis.mapper.ClazzMapper">

    <resultMap id="ClazzResultMap" type="Clazz">
        <id property="cid" column="cid"></id>
        <result property="cname" column="cname"></result>
    </resultMap>

    <select id="selectByIdStep2" resultMap="ClazzResultMap">
        select
            cid, cname
        from
            t_clazz
        where cid = #{cid}
    </select>

    <resultMap id="connectionResultMap" type="Clazz">
        <id property="cid" column="cid"></id>
        <result property="cname" column="cname"></result>
        <collection property="stus" ofType="Student">
            <id property="sid" column="sid"></id>
            <result property="sname" column="sname"></result>
        </collection>
    </resultMap>

    <select id="selectByConnection" resultMap="connectionResultMap">
        select
            c.cid, c.cname, s.sid, s.sname
        from
            t_clazz c left join t_stu s on c.cid = s.cid
        where
            c.cid = #{cid}
    </select>

    <resultMap id="ClazzStep1ResultMap" type="Clazz">
        <id property="cid" column="cid"></id>
        <result property="cname" column="cname"></result>
        <collection property="stus"
                    select="com.dh.mybatis.mapper.StudentMapper.selectByCid"
                    column="cid">
        </collection>
    </resultMap>

    <select id="selectByIdStep1" resultMap="ClazzStep1ResultMap">
        select
            cid, cname
        from
            t_clazz
        where cid = #{cid}
    </select>

</mapper>