<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t_student">

    <insert id="insertStudent">
        insert into t_student (id, name, current_age, addr)
            values (null, #{name}, #{currentAge}, #{address})
    </insert>

    <delete id="deleteById">
        delete from t_student where id = #{id}
    </delete>

    <update id="updateById">
        update t_student set
            name = #{name},
            current_age = #{currentAge},
            addr = #{address}
        where id = #{id}
    </update>

    <select id="selectById" resultType="com.dh.mybatis.pojo.Student">
        select id, name, current_age as currentAge, addr as address
            from t_student
        where id = #{id}
    </select>

    <select id="selectAll" resultType="com.dh.mybatis.pojo.Student">
        select id, name, current_age as currentAge, addr as address
        from t_student
    </select>

</mapper>